.custom-scrollbar {
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }
    &:hover::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
    }
}

:host {
    display: block;
}

button:focus {
    outline: none;
}
